<section id="services" class="services">
    <div class="row">
      <div class="col m8 l10 xl8 push-m2 push-l1 push-xl2">
        <div class="row">
          <div class="col s10 m6 l3 push-s1">
        <div class="card">
          {{!-- <i class="fas fa-home teal-text center"></i> --}}
          <h5 class="center"><i class="fas fa-home teal-text center"></i></h5>
          <h5 class="header center">Family Law</h5>
          <div class="divider"></div>
        <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum voluptas nemo, veritatis quod obcaecati magnam debitis perferendis modi dolorum sed</p>
        </div>
          <a class="waves-effect waves-light btn">Read more..<i class="material-icons right">send</i></a>
        </div>
          </div>
          <div class="col s10 m6 l3 push-s1">
                   <div class="card">
          {{!-- <i class="fas fa-home teal-text center"></i> --}}
          <h5 class="center"><i class="fas fa-building teal-text center"></i></h5>
          <h5 class="header center">Business Law</h5>
          <div class="divider"></div>
        <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum voluptas nemo, veritatis quod obcaecati magnam debitis perferendis modi dolorum sed</p>
        </div>
          <a class="waves-effect waves-light btn">Read more..<i class="material-icons right">send</i></a>
        </div>
          </div>
          <div class="col s10 m6 l3 push-s1">
        <div class="card">
          {{!-- <i class="fas fa-home teal-text center"></i> --}}
          <h5 class="center"><i class="fas fa-user-shield teal-text center"></i></h5>
          <h5 class="header center">Trust & Estates</h5>
          <div class="divider"></div>
        <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum voluptas nemo, veritatis quod obcaecati magnam debitis perferendis modi dolorum sed</p>
        </div>
          <a class="waves-effect waves-light btn">Read more..<i class="material-icons right">send</i></a>
        </div>
          </div>
          <div class="col s10 m6 l3 push-s1">
        <div class="card">
          {{!-- <i class="fas fa-home teal-text center"></i> --}}
          <h5 class="center"><i class="fas fa-gavel teal-text center"></i></h5>
          <h5 class="header center">Criminal Law</h5>
          <div class="divider"></div>
        <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum voluptas nemo, veritatis quod obcaecati magnam debitis perferendis modi dolorum sed</p>
        </div>
          <a class="waves-effect waves-light btn">Read more..<i class="material-icons right">send</i></a>
        </div>
          </div>
        </div>
        <div class="cell text-right">
          <a class="button service-link" href="services.html">See all services</a>
        </div>
      </div>
    </div>
</section>