  <nav class="teal">
    <div class="container">
          <div class="nav-wrapper">
      <a href="./" class="brand-logo">MMT <span class="flow-text">Attorneys</span></a>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li {{#if home}}class="active"{{/if}}><a href="/">Home</a></li>
        <li {{#if about}}class="active"{{/if}}><a href="/about">About</a></li>
        <li {{#if services}}class="active"{{/if}}><a href="/services">Services</a></li>
        <li {{#if resources}}class="active"{{/if}}><a href="/resources">Resources</a></li>
        <li {{#if contact}}class="active"{{/if}}><a href="/contact">Contact</a></li>
      </ul>
    </div>
    </div>
  </nav>
  
    <ul id="slide-out" class="sidenav">
    <li class="magenta">
      <a href="./" class="brand-logo blue-grey lighten-4 teal-text center">MMT Attorneys</a>
    </li>
        <li {{#if home}}class="active"{{/if}}><a href="/">Home</a></li>
        <li {{#if about}}class="active"{{/if}}><a href="/about">About</a></li>
        <li {{#if services}}class="active"{{/if}}><a href="/services">Services</a></li>
        <li {{#if resources}}class="active"{{/if}}><a href="/resources">Resources</a></li>
        <li {{#if contact}}class="active"{{/if}}><a href="/contact">Contact</a></li>
  </ul>
