<h5>Our core values</h5>
<p>Our main focus is on client service and results. While maintaining this essential belief, we approach each matter with the same commitment, observing and adhering to our core values to guide us in all that we do. These values are paramount; they are:-</p>

{{!-- honesty and integrity.
excellence.
hard work.
teamwork and collaboration.
mutual respect and firm mindedness.
diversity and inclusion.
service to our communities and the legal fraternity. --}}

      <ul class="collection with-header">
        <li class="collection-header"><h4>values</h4></li>
        <li class="collection-item"><div>honesty and integrity.<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>excellence.<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>hard work.<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>teamwork and collaboration.<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>mutual respect and firm mindedness.<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>diversity and inclusion.<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>service to our communities and the legal fraternity.<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      </ul>