<section class="section about">
  <div class="row">
      <div class="col s10 m8 push-s1 push-m2">
        <h4>About - <span>mmt attorneys</span></h4>
        <p>Modise Matlou Thipe Attorneys is the result of a merger between the law practices of Elton De Bruin Incorporated and Matlou Thipe Attorneys in May 2017. Elton De Bruin Incorporated (www.edbinc.co.za) was a boutique law firm specializing in corporate and commercial law since its inception in April 2012. Matlou Thipe Attorneys (www.matlouthipe.co.za) was a premier business law firm specializing in a wide range of legal fields involving commerce, sports, regulatory and procurement – the firm was established in 2015. Due to the overwhelming synergies discovered during a collaboration project between the two (2) firms, it was inevitable that the two firms would ultimately decide to combine their skills and resources with the view of consolidating their value proposition to the market.</p>

        <p>Modise Matlou Thipe is a full service law firm offering legal services over a wide spectrum of industry verticals, headquartered in Pretoria, Gauteng, South Africa and with a correspondent relationship contingent in all major cities and provinces in South Africa. </p>
      </div>
  </div>
</section>

{{> aboutTeam}}

<section class="vision">
  <div class="row">
      <div class="col s8 push-m2">
        <h4>Our Vision</h4>
        <p>The firm’s vision is to provide continued excellent, speedily and practical timely solutions to its clients and with its efforts to be universally recognized as a full service law firm of choice. </p>
      </div>
    </div>
</section>


<section class="mission">
  <div class="row">
      <div class="col s8 push-m2">
        <h4>Our Mission</h4>
        <p>The firm's mission is to provide a high quality, creative, and result – oriented legal team to individuals and businesses, and serve as a primary resource and partner in all aspects of clients' business growth and development.   </p>
      </div>
  </div>
</section>
