<section class="section section-contact">
  <div class="row">
    <div class="col s10 push-s1 m8 push-m2">
      <div class="row">
        <div class="col m7">
                <h4>Our offices are situated at:-</h4>
      <ul class="menu vertical">
        <li>2nd Floor, Building C6, Eco-Origins Office Park</li>
        <li>349 Witch-Hazel Avenue, Centurion</li>
        <li>Pretoria, Gauteng</li>
        <li>South Africa</li>
        <li>Tel: +27 (71) 480 7470</li>
        <li>Fax: +27 (86) 540 1425</li>
        <li>Email: info@matlouthipe.co.za</li>
        <li>Website: www.matlouthipe.co.za</li>
      </ul>
        </div>

        <div class="col s12 m5">
        <div class="card-panel z-depth-5">
          <h4>Contact us</h4>
          <div class="input-field">
            <input type="text" id="name" placeholder="Name">
            <label for="name"></label>
          </div>
          <div class="input-field">
            <input type="email" id="email" placeholder="Email">
            <label for="email"></label>
          </div>
          <div class="input-field">
            <input type="text" id="phone" placeholder="Phone Number">
            <label for="phone"></label>
          </div>
          <div class="input-field">
            <textarea class="materialize-textarea" id="message" placeholder="message"></textarea>
            <label for="message"></label>
          </div>
          <input type="submit" value="Submit" class="btn blue-grey">
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

<section class="map">
  <div class="row">
    <div class="col s12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3589.5270862413854!2d28.169044164658846!3d-25.88503785735907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9565bcaeb7c59d%3A0x74bcc5ff89b2a5aa!2s349+Witch-Hazel+Ave%2C+Eco-Park+Estate%2C+Centurion%2C+0144!5e0!3m2!1sen!2sza!4v1530386411282" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</section>