<section class="intro">
  <div class="primary-overlay valign-wrapper">
      <div class="container">
    <div class="row">
      <div class="col s10 m7 push-m3">
        <p class="white-text">Modise Matlou Thipe is a full service law firm offering legal services over a wide spectrum of industry verticals, headquartered in Pretoria, Gauteng, South Africa and with a correspondent relationship contingent in all major cities and provinces in South Africa.</p>
        <a class="button" href="contact.html">Contact us</a>
      </div>
    </div>
  </div>
  </div>
</section>

{{> services}}


<section class="proposition teal lighten-1 valign-wrapper">
    <div class="row">
      <div class="col s12 m8 push-m2">
        <h4 class="white-text">Our proposition</h4>
        <p class="grey-text text-lighten-4">Our clients acknowledge and recognize Modise Matlou Thipe for the professionalism, speed and commercial perspective that we bring to transactions. Our strong commercial acumen, our ability to manage transactions in an efficient and cost effective manner and our ability to address and resolve demanding transactional and legal issues distinguish us from our peers. Furthermore, our profound understanding of the regulatory and commercial landscape and associated risks and nuances of the underlying sector(s) is what distinguishes the quality of our sought after services.</p>
      </div>
    </div>
</section>

<section class="proposition blue-grey lighten-5">
    <div class="row">
      <div class="col s12 m8 push-m2">
      <div class="divider"></div>
      <div class=" col s12 m6">
        <h4>Meet the team</h4>
        <p>We offer a full range of corporate and commercial legal services, including but not limited to:- 
          <div style="height:400px" class="valign-wrapper">
        <img class="z-depth-2 circle responsive-img" src="/img/homeHeroTeam.jpeg" alt="">
        </div>
      </div>
      <div class="col s12 m5 push-m1">
        {{> values}}
      </div>
      </div>
    </div>
</section>
