<section class="resources">
    <div class="row">
      <div class="col m8 push-m2">
        <h4>Resources</h4>
        <p>The firm is well staffed with carefully selected individuals from highly ranked institutions to supplement and support the management team. The firm boosts a renowned IT architecture and has a formidable data protection and spyware software to guarantee the integrity of our communications. The firm is housed in the state of the art building situated at Building C6, Eco-Origins Office Park with future plans of expanding its footprint by opening satellite offices in Cape Town, Mbombela, Rustenburg and Polokwane in the near future.</p>

        <p>Equally, the firms is in the process of concluding various association agreements with leading law firms in areas where we do not have a presence, but where our clients require our services. Feasibility studies conducted indicated significant synergies between the firm and the selected pool of law firms for purposes of the aforesaid association(s).</p>
      </div>
    </div>
</section>


<section class="section section-clients teal lighten-1 valign-wrapper">
  <div class="row">
    <div class="col m8 push-m2">
        <h4 class="white-text">Our clients </h4>
        <p class="grey-text text-lighten-4">Our client base primarily includes local, national and regional companies across a broad range of sectors and industries, ranging from emerging business to multi-nationals, as well as public sector organizations. As a new generation law firm, we have faced the challenges of empowerment and transformation by taking a leading role through the creation of a new generation multi-disciplinary, multi-faceted law firm that addresses the needs of its clients through a thorough, holistic approach. We pride ourselves to list amongst our clients, distinguished leaders of industry with impeccable track records and legacy in their respective fields. Some of our leading clients (per sector), include, inter alia:-</p>
    </div>
  </div>
</section>


<div class="row">
  <div class="col m8 push-m2">
      <div class="slider" style="style="height: 240px;"">
    <ul class="slides" style="style="height: 200px;"">
      <li>
        <img src="/img/logos/bestmed.png"> <!-- random image -->
      </li>
      <li>
        <img src="/img/logos/safpu.png"> <!-- random image -->
      </li>
      <li>
        <img src="/img/logos/yoa.png"> <!-- random image -->
      </li>
      <li>
        <img src="/img/logos/nbcei.png"> <!-- random image -->
      </li>
      <li>
        <img src="/img/logos/eca.png"> <!-- random image -->
      </li>
      <li>
      <img src="/img/logos/autotronix.png"> <!-- random image -->
      </li>
      <li>
      <img src="/img/logos/nano.png"> <!-- random image -->
      </li>
            <li>
      <img src="/img/logos/megasol.png"> <!-- random image -->
      </li>
      
    </ul>
  </div>
  </div>
</div>


<section class="section services-services">
  <div class="row">
    <div class="col m8 push-m2">
      <div class="row">
          {{#each clients}}
        <div class="col m6">
          <ul>
            <li><i class="material-icons green-text">label_outline</i>&nbsp;&nbsp;{{this}}</li>
          </ul>
        </div>
          {{/each}}
      </div>
    </div>
  </div>
</section>

{{!-- <section class="clients">
    <div class="row">
      <div class="col m8 push-m2">
        <div class="row">
          <div class="col m3 valign-wrapper">
            <img src="/img/logos/bestmed.png" alt="">
          </div>
          <div class="col m3 logo valign-wrapper">
            <img src="/img/logos/safpu.png" alt="">
          </div>
          <div class="col m3 logo valign-wrapper">
            <img src="/img/logos/yoa.png" alt="">
          </div>
          <div style="height:180px" class="col m3 logo valign-wrapper">
            <img src="/img/logos/nbcei.png" alt="">
          </div>
          <div class="col m3 logo valign-wrapper">
            <img src="/img/logos/eca.png" alt="">
          </div>
          <div style="height:180px" class="col m3 logo valign-wrapper">
            <img class="responsive-img" src="/img/logos/autotronix.png" alt="">
          </div>
          <div class="col m3 logo valign-wrapper">
            <img src="/img/logos/nano.png" alt="">
          </div>
          <div class="col m3 logo valign-wrapper">
            <img src="/img/logos/megasol.png" alt="">
          </div>
        </div>

        <div class="row">
          <div class="col m6">
            <ul class="menu vertical">
              <li>Bestmed Medical Scheme (medical schemes);</li>
              <li>South African Football Players Union (sports);</li>
              <li>The Players Hub (sport);</li>
              <li>Stellenbosch Football Club (sports);</li>
              <li>Lindeni Bid Office (management services);</li>
              <li>Yangtze Optic Africa (Yoa) Cable (Pty) Ltd (optic fibre cable manufacture) - Chinese;</li>
              <li>South African Electrical Contractors Association (engineering);</li>
              <li>National Bargaining Council of the Electrical Industry of South Africa (engineering);</li>
              <li>Sukumani Telecommunications (Pty) Ltd (telecommunications);</li>
            </ul>
          </div>

          <div class="col m6">
            <ul class="menu vertical">
              <li>Dukamanhla Investments (Pty) Ltd (property);</li>
              <li>Acendenci Consulting (film & publication);</li>
              <li>Ebenezer Trust (freight & hauling);</li>
              <li>Autotronix Automation & Control (Pty) Ltd (system integration);</li>
              <li>Waymark Infotech (Pty) Ltd (telecoms);</li>
              <li>Mega Solutions (Pty) Ltd (financial services);</li>
              <li>Nano Solutions & Technology (Pty) Ltd (ICT sector);</li>
              <li>AT&C Engineering + Contractors (electrical engineering) – Botswana;</li>
              <li>Mjalefa Investment Trust (community investments); and</li>
              <li>Various other medium to large corporations.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> --}}