<section class="section section-focus">
  <div class="row">
    <div class="col m8 push-m2">
    <h4>Our practice areas and focus sectors</h4>
<p>We offer a full range of corporate and commercial legal services, including but not limited to:- </p>
</div>
  </div>
</section>

<section class="section services-services">
  <div class="row">
    <div class="col m8 push-m2">
      <div class="row">
          {{#each services}}
        <div class="col m6">
          <i class="material-icons tiny teal-text">star_half</i>&nbsp;&nbsp;{{this}}
        </div>
          {{/each}}
      </div>
    </div>
  </div>
</section>

<section class="section vision teal lighten-1">
  <div class="row">
      <div class="col m8 push-m2">
        <h4 class="white-text">Our professional indemnity insurance </h4>
        <p class="grey-text text-lighten-5">Our professional Indemnity Insurance (as required by law) is in place. The nature and extent of our exposure can be verified and/or obtained from the offices of the Law Society of the Northern Provinces (www.northernlaw.co.za) situated at Procforum Building, 123 Paul Kruger Street, Pretoria. To date, no claims have been made against any of our directors, staff or agents in relation to gross negligence, fraud, dereliction of duty & care, etc. Due to the high risk nature of our profession, these indemnity insurance policies are reviewed annually with the view of ascertaining whether adequate cover is in place for the protection of our directors, staff and customers in the event of the occurrence of a claimable event under these policies.</p>
      </div>
  </div>
</section>